*{
  margin: 0;
  padding: 0;
}

body{
  background-color: thistle;
}

#root{
  height: 100vh;
}

.container{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5vh;
  align-items: center;
}

h1, h2{
  font-weight: 300;
  font-style: italic;
  text-decoration: underline;
}

input{
  height: 5vh;
  border-radius: 12px;
  border-width: 0;
  padding-left: 0.5%;
  font-size: 1.2rem;
  font-style: italic;
}

.background{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.mybuttonclass{
  height: 10vh;
  width: 10vw;
  background-color: black;
  color: white;
  border-radius: 12px;
  border-width: 0;
  font-size: 1.5rem;
  color: white;
  font-style: italic;
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}